<script setup lang="ts">
import MessageList from '@/components/MessageList.vue';
import MessageBox from '@/components/MessageBox.vue';
import { nextTick, ref } from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['Hi,Babe','Where did you go?','Have you eaten yet?','Goodbye']
function send(message: string){
  messages.value.push(message)
  answerWithComputer()
}
function answerWithComputer(){
  const answer = answers[Math.floor(Math.random() * 10000) % answers.length]
  nextTick(() => {
    messages.value.push(answer)
  })
  messageList.value?.updateUI()
}
</script>

<template>
  <MessageList ref="messageList" :messages="messages"></MessageList>
  <MessageBox @send="send"></MessageBox>
</template>
